.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
.git/**
out/test/**

!out/**/*.js
!src/panel/**
!images/**
!node_modules/**